<div>
    <h1>ABOUT ME</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus unde perspiciatis animi accusamus voluptatibus et dolorem. Ea placeat vitae tenetur, consequatur voluptatibus odit ab laboriosam quasi quisquam qui consequuntur suscipit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore qui aperiam fugiat! Veritatis quasi ut error quae sunt dolores nulla minus in tempore, necessitatibus unde! Iste nesciunt minus cumque odit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugiat molestias quos pariatur! Ea quae, consequuntur architecto earum error delectus esse culpa eos odit laudantium tempore dicta? Illo, quas at? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quod dignissimos corporis sapiente hic harum inventore, quam quaerat explicabo veritatis ut similique repellat tempora illum reprehenderit. Fugit eius voluptate cupiditate!Lorem</p>
</div>
<button type="button" class="btn btn-info">Danger</button>

