<div class="container mt-5">

  <h3 class="fw-semibold">Bienvenido Granjero! 🧑‍🌾</h3>

  <p class="mt-1">Selecciona finca de auditoría</p>
  <section class="d-flex gap-3 mb-4">
    <div *ngIf="fincas.length === 0">
      <div class="alert alert-warning" role="alert">
        Iniciemos agregando una finca!
      </div>
    </div>
    <div *ngFor="let finca of fincas" [class.opacity]="finca.id === idFincaSeleccionada"
      [class.inactive]="finca.id !== idFincaSeleccionada" class="card-farms mb-1"
      style="max-width: 18rem; min-width: 10rem;" (click)="guardarIdFinca(finca.id)">
      <div class="card-body d-flex flex-column">
        <p class="text-title mb-0">{{ finca.name }}</p>
        <p class="card-text">{{ finca.description }}</p>
        <p class="card-text text-white align-items-end">Código: {{ finca.code }}</p>
      </div>
    </div>

  </section>
  <section class="container d-flex mt-5">
    <div class="row">

      <div class="col-6">
        <canvas id="char"></canvas> 
      </div>
      <div class="col-6">
        <canvas id="lineChart"></canvas> 
      </div>
      <div class="row">

        <div class="w-50">
          <!--      <canvas id="stackedBarChart"></canvas> Tercer gráfico -->
        </div>
      </div>
    </div>
  </section>
</div>