.card-farms{
    cursor: pointer;
    transition: 0.5s;
}

.card-farms:hover{
    transform: scale(1.04);
}

.card-body {
    pointer-events: none; /* Evitar que el hover afecte el texto */
    padding: 5px;
}
.opacity {
    border: 2px solid var(--color-blue-500); /* Bordes destacados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transform: scale(1.10); /* Ligeramente más grande */
    transition: all 0.3s ease; /* Transición suave */
}

.card-farms {
    padding: 4px 8px;
    border-radius: 15px;
    background: linear-gradient(to right, var(--color-green-400), var(--color-green-500));
}

.text-title{
    font-weight: 700;
    color: white;
    font-size: 17px;
    line-height: 15px;
}

.card-text{
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;

}