<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Inventarios</h2>
      <button type="button" data-bs-toggle="modal" data-bs-target="#modalInventory" id="btn-forms" class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Inventario
      </button>

      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        Descargar PDF
      </button>
      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        <i class="bi bi-file-spreadsheet"></i>
        Descargar Excel
      </button>
    </section>

    <!-- Tabla con MatTable -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>
  </div>

  <div *ngIf="inventories.length === 0"> <div class="alert alert-warning" role="alert">
    No hay inventarios activos.
  </div></div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Animal Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Peso Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Raza Column -->
    <ng-container matColumnDef="farmId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Finca </th>
      <td mat-cell *matCellDef="let element"> {{element.farm}} </td>
    </ng-container>



    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">
          <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#modalInventory"(click)="onEdit(element)"></i>
          <i class="bi bi-trash" (click)="onDelete(element.id)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<!-- Modal -->
<div class="modal fade" id="modalInventory" tabindex="-1" aria-labelledby="modalInventoryLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInventoryLabel">{{ newInventory.id ? 'Editar Inventario' : 'Agregar Inventario'
          }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #inventoryForm="ngForm" (ngSubmit)="onSubmit(inventoryForm)">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" id="name" class="form-control" name="name" [(ngModel)]="newInventory.name" 
            
            required 
            minlength="4" #NombreDelInventario="ngModel"
            [ngClass]="{
             'is-invalid': NombreDelInventario.invalid && NombreDelInventario.touched,
             'is-valid': NombreDelInventario.valid && NombreDelInventario.touched
           }"
            />
            <!-- Mensajes de error -->
         <div *ngIf="NombreDelInventario.invalid && NombreDelInventario.touched" class="invalid-feedback">
           <div *ngIf="NombreDelInventario.errors?.['required']">El nombre del animal diagnostico es obligatoria.</div>
           <div *ngIf="NombreDelInventario.errors?.['minlength']">El nombre del animal diagnostico debe tener al menos 4 caracteres.</div>
         </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea id="description" class="form-control" name="description" [(ngModel)]="newInventory.description"
              required
              minlength="10" #inventario="ngModel"
             [ngClass]="{
              'is-invalid': inventario.invalid && inventario.touched,
              'is-valid': inventario.valid && inventario.touched
            }"
              ></textarea>
              
             <!-- Mensajes de error -->
            <div *ngIf="inventario.invalid && inventario.touched" class="invalid-feedback">
              <div *ngIf="inventario.errors?.['required']">La descripción es obligatoria.</div>
              <div *ngIf="inventario.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="farmId" class="form-label">Finca</label>
            <select class="form-control" id="farmId" name="farmId" [(ngModel)]="newInventory.farmId" 
            #semenId="ngModel" required
              (change)="checkValidSelection(semenId)"
              [ngClass]="{
                'is-invalid': semenId.invalid && semenId.touched,
                'is-valid': semenId.valid && semenId.touched
              }">
              <option value="" selected>Seleccione una Finca</option>
              <ng-container *ngIf="fincas.length > 0">
                <option *ngFor="let finca of fincas" [value]="finca.id">{{ finca.name }}</option>

              </ng-container>
              <option *ngIf="fincas.length === 0" disabled>No hay fincas disponibles</option>
           
            </select>
            <!-- Mensajes de error -->
            <div *ngIf="semenId.invalid && semenId.touched" class="invalid-feedback">
              Seleccionar una finca es obligatorio.
            </div>
          </div>

          <button type="submit" class="btn btn-success w-100">{{ newInventory.id ? 'Actualizar' : 'Agregar' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>