<div class="flex-shrink-0 p-3 bg-green" style="min-height: 100vh; width: 200px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <img src="assets/logo-vaca.png" class="logo mx-2" alt="Logo">
    <span class="fs-5 fw-bold link-light">AGRONET</span>
  </a>
  <a href="dashboard" class="link-light nav-link rounded">Dashboard</a>

  <ul class="list-unstyled ps-0">
    <li *ngFor="let role of menuData">

        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li *ngFor="let modulo of role.modulo">
            <button class="btn btn-toggle fw-medium align-items-center rounded collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#modulo-collapse-' + modulo.id" aria-expanded="false">
              {{ modulo.name }}
            </button>
            <div class="collapse" [id]="'modulo-collapse-' + modulo.id">
              <ul class="list-unstyled ps-0">
                <!-- Itera sobre cada vista dentro del módulo -->
                <li *ngFor="let view of modulo.views">
                  <a [routerLink]="view.route" class="link-light nav-link rounded">{{ view.name }}</a>

                </li>
  
              </ul>
            </div>
          </li>
        </ul>
      <!-- </div> -->
    </li>
  </ul>
  <hr>
  <a (click)="onLogout()" class="nav-link link-light"><i class="bi bi-power mr-3"></i> Cerrar Sesión</a>
</div>