<main class="d-flex h-100 justify-content-center align-items-center shadow-sm">
    <div class="card w-50 border text-center">
        <div class="tittle-card">
            <h4 class="tittle-card-text">Restablecer contraseña</h4>
            <p>Tu contraseña debe tener al menos 12 caracteres y contener letras mayúsculas, minúsculas, números y símbolos especiales.</p>
        </div>
        <div class="body-card">
            <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
                <input 
                  type="password" 
                  placeholder="Contraseña" 
                  class="form-control my-4" 
                  id="newPassword" 
                  name="newPassword" 
                  [(ngModel)]="newSend.newPassword"
                  maxlength="15"  
                  minlength="3" 
                  (ngModelChange)="validatePassword()" 
                  #password="ngModel" 
                  [ngClass]="{
                    'is-invalid': (password.invalid && password.touched) || passwordError,
                    'is-valid': password.valid && password.touched && !passwordError
                  }"
                  required>
              
                <!-- Mensajes de error -->
                <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                  <div *ngIf="password.errors?.['required']">La contraseña es obligatoria.</div>
                  <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 3 caracteres.</div>
                </div>
              
                <!-- Mensaje de error personalizado -->
                <div *ngIf="passwordError" class="text-danger">
                  {{ passwordError }}
                </div>
                <button type="submit" id="btn-forms" class="btn btn-form w-100 mb-5">Enviar</button>
            </form>
        </div>
        <div class="footer-card">
            <p><a href="/login" class="fw-bold">Iniciar sesión</a> con tus credenciales</p>
        </div>
    </div>
</main>
