<main class="d-flex h-100 justify-content-center align-items-center shadow-sm">
    <div class="card w-50 border text-center">
        <div class="tittle-card">
            <h4 class="tittle-card-text">Restablecer contraseña</h4>
            <p>Tu contraseña debe tener al menos 12 caracteres y contener letras mayúsculas, minúsculas, números y símbolos especiales.</p>
        </div>
        <div class="body-card">
            <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
                <input type="password" placeholder="Contraseña" class="form-control my-4" id="newPassword" name="newPassword" [(ngModel)]="newSend.newPassword" 
                 required>
                <div *ngIf="newSend.newPassword && newSend.newPassword.length < 8" class="text-danger">
                    La contraseña debe tener al menos 8 caracteres.
                </div>
                <div *ngIf="newSend.newPassword && !isPasswordValid()" class="text-danger">
                    La contraseña debe contener al menos un número, una letra mayúscula y un carácter especial.
                </div>
                <button type="submit" id="btn-forms" class="btn btn-form w-100 mb-5">Enviar</button>
            </form>
        </div>
        <div class="footer-card">
            <p><a href="/login" class="fw-bold">Iniciar sesión</a> con tus credenciales</p>
        </div>
    </div>
</main>
