<div class="container mt-3 border p-3 shadow-sm">

  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Fincas</h2>
      <button type="button" data-bs-toggle="modal" (click)="resetForm()" data-bs-target="#exampleModal" id="btn-forms" class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Finca
      </button>

      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        Descargar PDF
      </button>
    </section>

    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>

  </div>

  <div *ngIf="fincas.length === 0">No hay fincas activas.</div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Dimensión Column -->
    <ng-container matColumnDef="hectare">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dimensión </th>
      <td mat-cell *matCellDef="let element"> {{element.hectare}} </td>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Ciudad Column -->
    <ng-container matColumnDef="cityId">
      <th mat-header-cell *matHeaderCellDef> Ciudad </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>


    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">
            <i class="bi bi-pencil-square" (click)="onEdit(element)" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
          <i class="bi bi-trash" (click)="onDelete(element.id)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Finca</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #fincaForm="ngForm" (ngSubmit)="onSubmit(fincaForm)">
          
          <div class="mb-3">
            <label for="fincaName" class="form-label">Nombre de la Finca</label>
            <input type="text" class="form-control" id="fincaName" name="name" [(ngModel)]="newFinca.name" 
            required
           required minlength="3" maxlength="29" #nameField="ngModel"
              [ngClass]="{
                'is-invalid': nameField.invalid && nameField.touched,
                'is-valid': nameField.valid && nameField.touched
              }" />
              <div class="mb-3">
                <label for="photo" class="form-label">Foto de la finca</label>
                <input type="file" class="form-control" id="photo" name="photo" [(ngModel)]="newFinca.photo" 
                 />
              </div>
              <!-- Mensajes de error -->
            <div *ngIf="nameField.invalid && nameField.touched" class="invalid-feedback">
              <div *ngIf="nameField.errors?.['required']">El nombre es obligatorio.</div>
              <div *ngIf="nameField.errors?.['minlength']">El nombre debe tener al menos 10 caracteres.</div>
              <div *ngIf="nameField.errors?.['maxlength']">El nombre no puede tener más de 29 caracteres.</div>
            </div>
            
          </div>

          <div class="mb-3">
            <label for="hectare" class="form-label">Dimensión de Hectarea</label>
            <input type="number" class="form-control" id="hectare" name="hectare" [(ngModel)]="newFinca.hectare"
             required min="1" pattern="^[1-9]\d*$*-" #hectare="ngModel"
             [ngClass]="{'is-invalid': hectare.invalid && hectare.touched, 'is-valid':
             hectare.valid && hectare.touched}"  (keypress)="preventNegative($event)" />
            

             
               <!-- Mensajes de error -->
               <div *ngIf="hectare.invalid && hectare.touched" class="invalid-feedback">
                <div *ngIf="hectare.errors?.['required']">La dimención de la hectarea es obligatorio.</div>
                <div *ngIf="hectare.errors?.['min']">La dimención de la hectarea debe ser mayor o igual a 0.</div>
                <div *ngIf="hectare.errors?.['pattern']">La dimención de la hectarea debe ser un número positivo.</div>
          </div>
           
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="newFinca.description"
              required minlength="10" #descriptionField="ngModel"
              [ngClass]="{
               'is-invalid': descriptionField.invalid && descriptionField.touched,
               'is-valid': descriptionField.valid && descriptionField.touched
             }">
            </textarea>
             <!-- Mensajes de error -->
             <div *ngIf="descriptionField.invalid && descriptionField.touched" class="invalid-feedback">
              <div *ngIf="descriptionField.errors?.['required']">La descripción es obligatoria.</div>
              <div *ngIf="descriptionField.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.</div>
            </div>

           
          </div>
          <div class="mb-3">
                <label for="cityId" class="form-label">Ciudad</label>
                <select class="form-select" id="cityId" name="cityId" [(ngModel)]="newFinca.cityId" required>
                  <option *ngFor="let city of City" [value]="city.id">{{ city.name }}</option>
                </select>
              </div>
          <button type="submit" class="btn btn-success w-100" [disabled]="!fincaForm.valid">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
