<div class="container mt-5">
  <h5>Ajustes de usuario</h5>
  <hr>

  <main class="shadow-sm p-4 bg-white rounded">
    <div *ngIf="imageUrl">
      <img [src]="imageUrl" alt="User Photo" style="width: 200px; height: 200px; border-radius: 50%; margin-bottom: 10px " />
    </div>
    <div *ngIf="!imageUrl">
      <p>No hay foto disponible.</p>
    </div>
    <!-- Formulario para cambiar contraseña -->
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input id="username" formControlName="username" type="text" class="form-control" readonly />
      </div>

      <div class="mb-3">
        <label for="newPassword" class="form-label">Nueva Contraseña</label>
        <input (ngModelChange)="validatePassword()" id="newPassword" formControlName="newPassword" type="password"
          class="form-control"
          [ngClass]="{'is-invalid': passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched}" />
        <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched"
          class="invalid-feedback">
          La nueva contraseña es obligatoria y debe tener al menos 6 caracteres.
        </div>
        <!-- Mensaje de error personalizado -->
        <div *ngIf="passwordError" class="text-danger">
          {{ passwordError }}
        </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
          [ngClass]="{'is-invalid': passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched}" />
        <div *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched"
          class="invalid-feedback">
          Las contraseñas no coinciden.
        </div>
      </div>

      <button type="submit" class="btn w-25" id="btn-forms" [disabled]="passwordForm.invalid">Actualizar
        Contraseña</button>
    </form>
  </main>
</div>