<div class="container">
  <section class="d-flex justify-content-between my-3">
    <h1 class="fw-normal">Animales</h1>
    <button type="button" data-bs-toggle="modal" data-bs-target="#animalModal" id="btn-forms" class="btn h-50">
      <i class="bi bi-plus-circle mx-2"></i>
      Agregar Animal
    </button>
  </section>

  <!-- Tabla con MatTable -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Animal Column -->
    <ng-container matColumnDef="animal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Animal </th>
      <td mat-cell *matCellDef="let element"> {{element.animal}} </td>
    </ng-container>

    <!-- Género Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- Peso Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso (kg) </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Raza Column -->
    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Raza </th>
      <td mat-cell *matCellDef="let element"> {{element.race}} </td>
    </ng-container>

    <!-- Propósito Column -->
    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Propósito </th>
      <td mat-cell *matCellDef="let element"> {{element.purpose}} </td>
    </ng-container>

    <!-- Fecha Nacimiento Column -->
    <ng-container matColumnDef="birthDay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cumpleaños </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDay | date}} </td>
    </ng-container>

    <!-- Fecha Registro Column -->
    <ng-container matColumnDef="dateRegister">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
      <td mat-cell *matCellDef="let element"> {{element.dateRegister | date}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editar(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Modal -->
<div class="modal fade" id="animalModal" tabindex="-1" aria-labelledby="animalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="animalModalLabel">Agregar Animal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #animalForm="ngForm" (ngSubmit)="onSubmit(animalForm)">
          <div class="mb-3">
            <label for="animalName" class="form-label">Nombre del Animal</label>
            <input type="text" class="form-control" id="animalName" name="animal" [(ngModel)]="newAnimales.name" required>
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Género</label>
            <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="newAnimales.gender" required>
          </div>
          <div class="mb-3">
            <label for="weight" class="form-label">Peso (kg)</label>
            <input type="number" class="form-control" id="weight" name="weight" [(ngModel)]="newAnimales.weight" required>
          </div>
          <div class="mb-3">
            <label for="race" class="form-label">Raza</label>
            <input type="text" class="form-control" id="race" name="race" [(ngModel)]="newAnimales.raceId" required>
          </div>
          <div class="mb-3">
            <label for="purpose" class="form-label">Propósito</label>
            <textarea class="form-control" id="purpose" name="purpose" [(ngModel)]="newAnimales.purpose" required></textarea>
          </div>
          <div class="mb-3">
            <label for="birthDay" class="form-label">Cumpleaños</label>
            <input type="date" class="form-control" id="birthDay" name="birthDay" [(ngModel)]="newAnimales.birthDay" required>
          </div>
          <div class="mb-3">
            <label for="file-upload" class="form-label">Subir una Foto</label>
            <input type="file" class="form-control" id="file-upload" name="file-upload" accept="image/*, .pdf">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!animalForm.valid">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
