<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Animales</h2>

      <button type="button" data-bs-toggle="modal" data-bs-target="#animalModal" id="btn-forms" class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Animal
      </button>

      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        Descargar PDF
      </button>
      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        <i class="bi bi-file-spreadsheet"></i>
        Descargar Excel
      </button>
    </section>

    <!-- Tabla con MatTable -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla" #Modal>
    </mat-form-field>



    
  </div>
  <div *ngIf="animales.length === 0">
    <div class="alert alert-warning" role="alert">
      Aún no hay animales agregados!
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Animal Column -->
    <ng-container matColumnDef="animal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Animal </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Peso Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso (kg) </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Raza Column -->
    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Raza </th>
      <td mat-cell *matCellDef="let element"> {{element.race}} </td>
    </ng-container>

    <!-- Raza Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- Propósito Column -->
    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Propósito </th>
      <td mat-cell *matCellDef="let element"> {{element.purpose}} </td>
    </ng-container>

    <!-- Fecha Nacimiento Column -->
    <ng-container matColumnDef="birthDay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nacimientos </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDay | date}} </td>
    </ng-container>
    <!-- Lote Column -->

    <!-- Fecha Registro Column -->
    <ng-container matColumnDef="dateRegister">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
      <td mat-cell *matCellDef="let element"> {{element.dateRegister | date}} </td>
    </ng-container>
    <!-- Fecha Registro Column -->
    <ng-container matColumnDef="lotId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lote </th>
      <td mat-cell *matCellDef="let element"> {{element.lot }} </td>
    </ng-container>
    
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
      <td mat-cell *matCellDef="let element">
        <span [ngStyle]="{'color': element.state ? 'green' : 'red'}">
          ●
        </span>
        {{ element.state ? ' ACTIVO' : ' INACTIVO' }}
      </td>
    </ng-container>
      

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">
          <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#animalModal"
            (click)="onEdit(element)"></i>
          <i class="bi bi-trash" (click)="onDelete(element.id)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Modal -->
<div class="modal fade" id="animalModal" tabindex="-1" aria-labelledby="animalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="animalModalLabel">Agregar Animal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #animalForm="ngForm" (ngSubmit)="onSubmit(animalForm)">

          <div class="mb-3">
            <label for="animalName" class="form-label">Nombre del Animal</label>
            <input type="text" class="form-control" id="animalName" name="animal" [(ngModel)]="newAnimales.name"
              required minlength="4" #NombreDelAnimal="ngModel" [ngClass]="{
               'is-invalid': NombreDelAnimal.invalid && NombreDelAnimal.touched,
               'is-valid': NombreDelAnimal.valid && NombreDelAnimal.touched
             }" />
            <!-- Mensajes de error -->
            <div *ngIf="NombreDelAnimal.invalid && NombreDelAnimal.touched" class="invalid-feedback">
              <div *ngIf="NombreDelAnimal.errors?.['required']">El nombre del animal es obligatoria.</div>
              <div *ngIf="NombreDelAnimal.errors?.['minlength']">El nombre del animal debe tener al menos 4 caracteres.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="weight" class="form-label">Peso (kg)</label>
            <input type="number" class="form-control" id="weight" name="weight" [(ngModel)]="newAnimales.weight"
              required min="35" max="1700" required min="1" pattern="^[1-9]\d*$*-" #animal="ngModel" [ngClass]="{'is-invalid': animal.invalid && animal.touched, 'is-valid':
               animal.valid && animal.touched}" (keypress)="preventNegative($event)" />

            <!-- Mensajes de error -->
            <div *ngIf="animal.invalid && animal.touched" class="invalid-feedback">
              <div *ngIf="animal.errors?.['required']">El peso es obligatorio.</div>
              <div *ngIf="animal.errors?.['min']">El peso debe ser mayor a 0.</div>
              <div *ngIf="animal.errors?.['max']">El peso excede el limite de 1700</div>
              <div *ngIf="animal.errors?.['pattern']">El peso debe ser un número positivo.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="raceId" class="form-label">Raza</label>
            <select class="form-control" id="race" name="race" [(ngModel)]="newAnimales.race">

              <option value="" disabled selected>Seleccione una raza</option>
              <ng-container *ngIf="races.length > 0">
                <option *ngFor="let race of races" [value]="race">{{ race }}</option>
              </ng-container>

              <option *ngIf="races.length === 0" disabled>No hay razas disponibles</option>
            </select>
            
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Sexo</label>
            <select class="form-control" id="gender" name="gender" [(ngModel)]="newAnimales.gender" required
              >
              <option value="" disabled selected>Selecciona un sexo</option>
              <option value="Male">Macho</option>
              <option value="Female">Hembra</option>
            </select>
            
            
          </div>
          
          <div class="mb-3">
            <label for="purpose" class="form-label">Propósito</label>
            <select class="form-control" id="purpose" name="purpose" [(ngModel)]="newAnimales.purpose"
             >
              <option value="" disabled selected>Selecciona un propósito</option>
              <option *ngFor="let option of purposeOptions" [value]="option.value">{{ option.label }}</option>
              <option *ngIf="purposeOptions.length === 0" disabled>No hay Propósitos disponibles</option>
            </select>
           
          </div>
          

          <div class="mb-3">
            <label for="birthDay" class="form-label">Nacimiento</label>
            <input type="date" class="form-control" id="birthDay" name="birthDay" [(ngModel)]="newAnimales.birthDay"
              required [min]="minDate" [max]="maxDate">
          </div>
          <div class="mb-3">
            <label for="file-upload" class="form-label">Subir una Foto</label>
            <input type="file" class="form-control" id="file-upload" name="file-upload" accept="image/*">
          </div>

          <div class="mb-3">
            <label for="lotId" class="form-label">Lote</label>
            <select class="form-control" id="lotId" name="lotId" [(ngModel)]="newAnimales.lotId" 
              required >
              <option value="" selected>Seleccione un lote</option>

              <ng-container *ngIf="lote.length > 0">
                <option *ngFor="let lot of lote" [value]="lot.id">{{ lot.name }}</option>
              </ng-container>
              <option *ngIf="lote.length === 0" disabled>No hay Lotes disponibles</option>
            </select>
            
          </div>

          <button type="submit" class="btn btn-success w-100" [disabled]="!animalForm.valid">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>