<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">AGRONET</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Funciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white btn-login rounded-5 px-4" href="login">Gestión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <section>
        <h2 class="fw-semibold">Aplicación para la gestión integral de la ganadería</h2>
        <p class="fw-lighter">Nuestra aplicación se centra en proporcionar una gestión integral para la ganadería, abarcando múltiples funcionalidades clave.</p>
        <button class="btn btn-login text-white">Descargar</button>
    </section>
  </main>
