<nav class="navbar navbar-expand-lg bg-green d-flex justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">AGRONET</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#funciones">Funciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Gestión</a></li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="text-main p-5 w-50">
        <p class="fw-semibold fs-1">Aplicación para la Gestión integral para ganadería eficiente saludable</p>
        <p>Nuestra aplicación se centra en proporcionar una gestión integral para la ganadería, abarcando múltiples
            funcionalidades clave.</p>
        <button class="btn bg-green text-white"> <i class="bi bi-download"></i>
            Descargar</button>
    </div>
</main>


<section class="w-75 mx-auto" id="funciones">
    <h2 class="w-100 text-center">Funciones</h2>
    <div class="main-card d-flex gap-3">

        <div class="col-4 text-center">
            <div class="card border-1 p-5 text-center d-flex flex-column align-items-center">
                <img src="/assets/card-img/box.png" width="150px" alt="">
                <p>Fomentamos la trazabilidad completa para que los ganaderos puedan añadir mayor valor a su ganado,
                    mejorando sus oportunidades y condiciones de venta..</p>
            </div>
        </div>

        <div class="col-4">
            <div class="card border-1 p-5 text-center d-flex flex-column align-items-center">
                <img src="/assets/card-img/phone.png" width="100px" alt="">
                <p>Proporcionamos una herramienta accesible para todos, facilitando la adopción de la tecnología y la
                    digitalización. .</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-1 p-5 text-center d-flex flex-column align-items-center">
                <img src="/assets/card-img/cow.png" alt="">
                <p>Hemos integrado funcionalidades útiles para los ganaderos en una aplicación móvil sencilla y fácil de
                    usar..</p>
            </div>
        </div>
    </div>
</section>

<section class="w-75 mx-auto text-center" id="about">
    <h2 class="w-100 fw-semibold">¿Quiénes somos?</h2>
    <p class="w-75 mx-auto">Somos un grupo de estudiantes de desarrollo de software que analizando la problematica con
        el orden y la gestión del ganado en el sector, decidió aportar de manera activa en el desarrollo de un
        aplicativo para facilitar los procesos relacionados con este sector. </p>
        <img src="/assets/cow-about.png" alt="">

</section>

<section class="contact-section">
    <h2 class="w-100 text-center fw-semibold">Contacto</h2>
    <div class="contact-section-main w-75 mx-auto d-flex align-items-center justify-content-center">
        <div class="col-6">
            <img src="/assets/cow-contact.png" alt="">
        </div>
        <div class="col-6">
            <div class="items d-flex flex-column fs-5">
                <p><i class="bi bi-envelope"></i> Agronetgmail.com</p>
                <p><i class="bi bi-facebook"></i> AgroNet</p>
                <p><i class="bi bi-whatsapp"></i> 3132178225</p>
            </div>
        </div>
        </div>
</section>