

.navbar{
    background-color: var(--color-green-500);
}

.btn-login{
    background-color: var(--color-green-600);
    transition: 0.5s;
}

.btn-login:hover{
    transform: scale(1.04);
}

main {
    height: 100vh;
    background-image: url('/assets/bg-main.png'); /* Reemplaza con la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

section{
    width: 50%;
    position: relative;
    z-index: 2;
    color: white; /* Asegúrate de que el texto sea blanco */
    padding-left: 30px;
}
