<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">
  <section class="d-flex align-items-center gap-3">
    <h2 class="fw-normal mb-0 w-50">Vacunación de Animales</h2>
    <!-- Botón para abrir el modal -->
    <button type="button" class="btn h-50" data-bs-toggle="modal" data-bs-target="#vaccineAnimalModal" id="btn-forms">
      <i class="bi bi-plus-circle mx-2"></i>
      Registrar Vacuna
    </button>

    <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
      Descargar PDF
    </button>
  </section>

  <!-- Campo de búsqueda -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar">
  </mat-form-field>
</div>

<div *ngIf="vaccineAnimals.length === 0">No hay vacunación para anivales activos.</div>

  <!-- Tabla de datos -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2 mt-4" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let vaccine"> {{ vaccine.id }} </td>
    </ng-container>

    <!-- Animal Column -->
    <ng-container matColumnDef="Animal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Animal </th>
      <td mat-cell *matCellDef="let vaccine"> {{ vaccine.animal }} </td>
    </ng-container>

    <!-- Vacuna Column -->
    <ng-container matColumnDef="Vacuna">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vacuna </th>
      <td mat-cell *matCellDef="let vaccine"> {{ vaccine.vaccine }} </td>
    </ng-container>

    <!-- Próxima Dosis Column -->
    <ng-container matColumnDef="dateApplied">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aplicación </th>
      <td mat-cell *matCellDef="let vaccine"> {{ vaccine.dateApplied | date }} </td>
    </ng-container>
    <!-- Próxima Dosis Column -->
    <ng-container matColumnDef="nextDose">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Próxima Dosis </th>
      <td mat-cell *matCellDef="let vaccine"> {{ vaccine.nextDose | date }} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">
          <i class="bi bi-pencil-square" (click)="onEdit(element)"></i>
          <i class="bi bi-trash" (click)="onDelete(element)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


  <!-- Modal -->
  <div class="modal fade" id="vaccineAnimalModal" tabindex="-1" aria-labelledby="treatmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="treatmentsModalLabel">Agregar Vacunas animal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">

            <div class="mb-3">
              <label for="animalId" class="form-label">Vacunas</label>
              <select class="form-control" id="vaccinesId" name="vaccinesId" [(ngModel)]="newVaccineAnimal.vaccinesId" required>
                <option value="" disabled selected>Seleccione una vacuna</option>
                <option *ngFor="let vacuna of vacunas" [value]="vacuna.id">{{ vacuna.name }}</option>
                <option *ngIf="vacunas.length === 0" disabled>No hay vacunas disponibles</option>
              
              </select>
            </div>

            <div class="mb-3">
              <label for="animalId" class="form-label">Animales</label>
              <select class="form-control" id="animalId" name="animalId" [(ngModel)]="newVaccineAnimal.animalId" required>
                <option value="" disabled selected>Selecciona un animal</option>
                <option *ngFor="let animal of animales" [value]="animal.id">{{ animal.name }}</option>
                <option *ngIf="animales.length === 0" disabled>No hay animales disponibles</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="dateApplied" class="form-label">Fecha de aplicación</label>
              <input type="date" class="form-control" id="dateApplied" name="dateApplied"
                [(ngModel)]="newVaccineAnimal.dateApplied" required>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>