<!--  -->
<div class="container">
  <section class="d-flex justify-content-between my-3">
    <h1 class="fw-normal">Vistas</h1>
    <button type="button" data-bs-toggle="modal" data-bs-target="#viewModal" id="btn-forms" class="btn h-50">
      <i class="bi bi-plus-circle mx-2"></i>
      Agregar Vista
    </button>
  </section>

  <!-- Tabla con MatTable -->
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Ruta Column -->
    <ng-container matColumnDef="route">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ruta </th>
      <td mat-cell *matCellDef="let element"> {{element.route}} </td>
    </ng-container>

    <!-- Módulo Column -->
    <ng-container matColumnDef="moduloId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Módulo ID </th>
      <td mat-cell *matCellDef="let element"> {{element.moduloId}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="primary" data-bs-toggle="modal" data-bs-target="#Modal" (click)="onEdit(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <!--
         <button mat-icon-button color="accent" (click)="onView({ id: item.id, name: item.name })">
          <mat-icon>visibility</mat-icon>
        </button>
        -->
       
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Agregar Vista</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #viewForm="ngForm" (ngSubmit)="onSubmit(viewForm)">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newView.name" required>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newView.description" required>
          </div>

          <div class="mb-3">
            <label for="route" class="form-label">Ruta</label>
            <input type="text" class="form-control" id="route" name="route" [(ngModel)]="newView.route" required>
          </div>

          <div class="mb-3">
            <label for="moduloId" class="form-label">Módulo ID</label>
            <input type="number" class="form-control" id="moduloId" name="moduloId" [(ngModel)]="newView.moduleId" required>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!viewForm.valid">{{ newView.id ? 'Actualizar' : 'Guardar' }}</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
