<!--  -->
<div class="container">
    <section class="d-flex justify-content-between my-3">
      <h1 class="fw-normal">Vistas</h1>
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btn-forms" class="btn h-50"><i class="bi bi-plus-circle mx-2"></i>
          Agregar Vista</button>
    </section>
      <table datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger" class="table shadow-sm">
        <thead>
          <tr class="table-success">
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Route</th>
            <th>Modulo</th>
            <th>Acciones</th> 
    
          </tr>
        </thead>
        <tbody>
    
            <tr *ngFor="let view of views">
            <td>{{ view.id }}</td>
            <td>{{ view.name }}</td>
            <td>{{ view.description }}</td>
            <td>{{ view.route }}</td>
            <td>{{ view.moduleId }}</td>
            <td class="d-flex gap-3">
              <i class="bi bi-pencil-square action-icon" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(view)"></i>
              <i class="bi bi-trash action-icon" (click)="onDelete(view.id)"></i>
            </td>
          </tr>
    
        </tbody>
      </table>
    
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fw-bold fs-4" id="text-green">Nueva vista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="px-5" #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm)">
          <div>
            <label for="name" id="text-green" class="fw-normal">Nombre</label>
            <input class="form-control" type="text" id="name" name="name" [(ngModel)]="newView.name" required>
          </div>
        
          <div class="my-3">
            <label for="description"  id="text-green" class="fw-normal">Descripción</label>
            <input class="form-control form-green" type="text" id="description" name="description" [(ngModel)]="newView.description" required>
          </div>
          <div>
            <label for="description"  id="text-green" class="fw-normal">Ruta</label>
            <input class="form-control form-green" type="text" id="route" name="route" [(ngModel)]="newView.route" required>
          </div>
          <div class="my-3">
            <label for="Modulo"  id="text-green"  class="fw-normal">Modulo</label>
            <select class="form-select form-select-lg mb-3" [(ngModel)]="newView.moduleId" name="moduleId" aria-label="Large select example">
              <option selected>Selecciona un modulo</option>
              <option *ngFor = "let modulo of modules" [value]="modulo.id">
                {{ modulo.name }}
              </option>
            </select>
          </div>
            
          <!-- <button class="btn btn-success mt-5" type="submit">{{ newRole.id ? 'Actualizar' : 'Guardar' }}</button> -->
          <div class="modal-footer">
            <button type="button" id="btn-forms" type="submit" class="btn btn-form">{{ newView.id ? 'Actualizar' : 'Guardar' }}</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>