/* main.component.css */
.container-main {
    display: flex;
    height: 100vh; /* Ocupa todo el alto de la ventana */
    margin: 0;
    background-color: #fffafa; /* Beige claro */

  } 
  
  .app-menu {
    flex: 0 0 16.6667%; /* Ocupa 2 de 12 columnas (aproximadamente 16.67%) */
    background: #fff;
    border-right: 1px solid #ccc; /* Línea de separación */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    position: fixed; /* Fija el menú en una posición */
    top: 0;
    left: 0;
    overflow-y: auto; /* Permite el scroll si el contenido es grande */
  }

.app-menu::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "track" (parte de la barra que se mueve) */
.app-menu::-webkit-scrollbar-track {
  background: #e0e0e0; /* Color del track */
  border-radius: 10px; /* Esquinas redondeadas */
}

/* Estilo para el "thumb" (la parte que se arrastra) */
.app-menu::-webkit-scrollbar-thumb {
  background: var(--color-green-500); /* Color del thumb */
  border-radius: 20px; /* Esquinas redondeadas */
}

/* Estilo para el "thumb" cuando se está usando */
.app-menu::-webkit-scrollbar-thumb:hover {
  background: var(--color-green-600); /* Color del thumb al pasar el mouse */
}

  .content {
    margin-left: 16.6667%; /* Ajusta el contenido para que no quede debajo del menú */
    width: 83.3333%; /* Ocupa el espacio restante (10 de 12 columnas) */
    padding: 20px; /* Espaciado interno */
    overflow-y: auto; /* Permite el scroll si el contenido es grande */
    height: 100vh; /* Ocupa toda la altura de la ventana */
  }
  
    /* Ocultar la barra de desplazamiento en todos los navegadores */