<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Medicamentos</h2>
      <button type="button" data-bs-toggle="modal" data-bs-target="#medicineModal" id="btn-forms" class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Medicamento
      </button>
    </section>

    <!-- Barra de búsqueda -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>

  </div>

    <!-- Tabla de medicamentos -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="Administration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Administración </th>
        <td mat-cell *matCellDef="let element"> {{element.administration}} </td>
      </ng-container>

      <!-- Dosis Column -->
      <ng-container matColumnDef="CategoryMedicinasId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryMedicinesId}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <!---
        <button mat-icon-button color="accent" (click)="onView({id: element.id, name: element.name})">
          <mat-icon>visibility</mat-icon>
        </button>
        -->

        </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- Modal para agregar/editar medicamentos -->
  <div class="modal fade" id="medicineModal" tabindex="-1" aria-labelledby="medicineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="medicineModalLabel">Agregar/Editar Medicamento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form #medicineForm="ngForm" (ngSubmit)="onSubmit(medicineForm)">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="NewMedicinas.Name" required>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Administration</label>
              <input type="text" class="form-control" id="type" name="type" [(ngModel)]="NewMedicinas.Administration"
                required>
            </div>
            <div class="mb-3">
              <label for="dose" class="form-label">Dosis</label>
              <input type="text" class="form-control" id="dose" name="dose"
                [(ngModel)]="NewMedicinas.CategoryMedicinesId" required>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!medicineForm.valid">{{ NewMedicinas.id ?
              'Actualizar' : 'Guardar' }}</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>