
.btn-seccion{
    background-color: var(--color-green-600);
    font-family: system;
}

.bg-green {
    background-color: azure;
}

.title{
    font-weight: 600;
}

.container-form{
    width: 300px;
}

span{
    color: var(--color-green-900);
}

.imagen{
    border-radius: 100%;    /* Redondea los bordes */

}

a{
    color: var(--color-green-900);
}