<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">

      <h2 class="fw-normal mb-0 ">Nacimientos</h2>
      <button class="btn btn-success" data-bs-toggle="modal" id="btn-forms"
      class="btn h-50" data-bs-target="#modalNacimiento">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Nacimiento
      </button>

      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        Descargar PDF
      </button>
    </section>

    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>

</div>

<div *ngIf="nacimiento.length === 0">No hay nacimientos activos.</div>

<!-- Tabla de Nacimientos -->
<table mat-table [dataSource]="dataSource" matSort class="table table-striped">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
  </ng-container>

  <ng-container matColumnDef="Assistence">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Asistencia</th>
    <td mat-cell *matCellDef="let row">{{ row.assistence }}</td>
  </ng-container>

  <ng-container matColumnDef="Result">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Resultado</th>
    <td mat-cell *matCellDef="let row">{{ row.result }}</td>
  </ng-container>

  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
    <td mat-cell *matCellDef="let row">{{ row.description }}</td>
  </ng-container>

  <ng-container matColumnDef="BirthWeight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso al Nacer</th>
    <td mat-cell *matCellDef="let row">{{ row.birthWeight }}</td>
  </ng-container>

  <ng-container matColumnDef="Inseminacionid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Inseminación</th>
    <td mat-cell *matCellDef="let row">{{ row.inseminationId }}</td>
  </ng-container>

  <ng-container matColumnDef="AnimalId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Animal</th>
    <td mat-cell *matCellDef="let row">{{ row.animal }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="dataSource.data.length" [pageSize]="5"></mat-paginator>

<!-- Modal para Agregar/Editar Nacimiento -->
<div class="modal fade" id="modalNacimiento" tabindex="-1" aria-labelledby="modalNacimientoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNacimientoLabel">{{ newNacimiento.id ? 'Editar' : 'Agregar' }} Nacimiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="mb-3">
            <label for="purpose" class="form-label">Asistencia</label>
            <select class="form-control" id="assistence" name="assistence" [(ngModel)]="newNacimiento.assistence" required>
              <option value="" disabled selected>Selecciona un respuesta</option>
              <option value="T">Verdadero</option>
              <option value="F">Falso</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="purpose" class="form-label">Resultado</label>
            <select class="form-control" id="result" name="result" [(ngModel)]="newNacimiento.Result" required>
              <option value="" disabled selected>Selecciona un respuesta</option>
              <option value="1">Efectiva</option>
              <option value="0">Negativa</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="Description" class="form-label">Descripción</label>
            <input type="text" id="Description" class="form-control" [(ngModel)]="newNacimiento.Description"
              name="Description" required minlength="10" #descriptionField="ngModel"
              [ngClass]="{
                'is-invalid': descriptionField.invalid && descriptionField.touched,
                'is-valid': descriptionField.valid && descriptionField.touched
              }" />
          
            <!-- Mensajes de error -->
            <div *ngIf="descriptionField.invalid && descriptionField.touched" class="invalid-feedback">
              <div *ngIf="descriptionField.errors?.['required']">La descripción es obligatoria.</div>
              <div *ngIf="descriptionField.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.</div>
            </div>
            <div *ngIf="descriptionField.valid && descriptionField.touched" class="valid-feedback">
              Descripción válida.
            </div>
          </div>
          

          <div class="mb-3">
            <label for="BirthWeight" class="form-label">Peso al Nacer</label>
            <input type="number" id="BirthWeight" class="form-control" [(ngModel)]="newNacimiento.BirthWeight"
              name="BirthWeight" required min="1" pattern="^[1-9]\d*$*-" #birthWeightField="ngModel"
              [ngClass]="{'is-invalid': birthWeightField.invalid && birthWeightField.touched, 'is-valid':
               birthWeightField.valid && birthWeightField.touched}"  (keypress)="preventNegative($event)" />
              
               <!-- Mensajes de error -->
              <div *ngIf="birthWeightField.invalid && birthWeightField.touched" class="invalid-feedback">
                  <div *ngIf="birthWeightField.errors?.['required']">El peso es obligatorio.</div>
                  <div *ngIf="birthWeightField.errors?.['min']">El peso debe ser mayor o igual a 0.</div>
                  <div *ngIf="birthWeightField.errors?.['pattern']">El peso debe ser un número positivo.</div>
            </div>
             <div *ngIf="birthWeightField.valid && birthWeightField.touched" class="valid-feedback">
               Peso válido.
              </div>
          </div>

          <div class="mb-3">
            <label for="Inseminacionid" class="form-label">Inseminación</label>
            <select class="form-control" id="Inseminacionid" name="Inseminacionid" [(ngModel)]="newNacimiento.Inseminacionid" 
            #Inseminacionid="ngModel" required>
                <option value="" disabled selected>Seleccione una vaca</option>
                <ng-container *ngIf="inseminations.length > 0">
                    <option *ngFor="let insemination of inseminations" [value]="insemination.id">{{ insemination.mother }}</option>
                </ng-container>
                
                <!-- Si no hay toros disponibles -->
                <option *ngIf="inseminations.length === 0" disabled>No hay vacas disponibles</option>
            </select>
            
            <!-- Mensaje de error -->
            <div *ngIf="Inseminacionid.invalid && Inseminacionid.touched" class="text-danger">
                Seleccionar una vaca inseminada es obligatorio.
            </div>
        </div>
        

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{{ newNacimiento.id ? 'Actualizar' : 'Agregar' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>