<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">
      <section class="d-flex align-items-center gap-3">
        <h2 class="fw-normal mb-0 w-50">Inventario de Suplementos</h2>
        <button type="button" data-bs-toggle="modal" data-bs-target="#suplementoModal" id="btn-forms" class="btn h-50">
          <i class="bi bi-plus-circle mx-2"></i>
          Agregar Suplemento
        </button>

        <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
          Descargar PDF
        </button>
      </section>
  
      <!-- Buscador -->
      <mat-form-field appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
      </mat-form-field>
    </div>
  
    <!-- Tabla con MatTable -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 mt-4" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <!-- Cantidad Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

  
      <!-- Medida Column -->
      <ng-container matColumnDef="measure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Medida</th>
        <td mat-cell *matCellDef="let element">{{ element.measure }}</td>
      </ng-container>
  
      <!-- Inventario Column -->
      <ng-container matColumnDef="inventoryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Inventario</th>
        <td mat-cell *matCellDef="let element">{{ element.inventory }}</td>
      </ng-container>
  
      <!-- Suplemento Column -->
      <ng-container matColumnDef="suppliesId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Suplemento</th>
        <td mat-cell *matCellDef="let element">{{ element.supplies }}</td>
      </ng-container>
  
      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="onSubmit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Definición de las filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="suplementoModal" tabindex="-1" aria-labelledby="suplementoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="suplementoModalLabel">Agregar Suplemento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #suplementoForm="ngForm" (ngSubmit)="onSubmit(suplementoForm)">
            <div class="mb-3">
              <label for="amount" class="form-label">Cantidad</label>
              <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="newInventarioSuplemento.amount" required>
            </div>
  
            <div class="mb-3">
              <label for="measure" class="form-label">Medida</label>
              <input type="number" class="form-control" id="measure" name="measure" [(ngModel)]="newInventarioSuplemento.measure" required>
            </div>
  
            <div class="mb-3">
              <label for="inventoryId" class="form-label">Inventario</label>
              <select class="form-control" id="inventoryId" name="inventoryId" [(ngModel)]="newInventarioSuplemento.inventoryId" required>
                <option value="" disabled selected>Seleccione un inventario</option>
                <option *ngFor="let inventario of Inventario" [value]="inventario.id">{{ inventario.name }}</option>
              </select>
            </div>
  
            <div class="mb-3">
              <label for="suppliesId" class="form-label">Suplemento</label>
              <select class="form-control" id="suppliesId" name="suppliesId" [(ngModel)]="newInventarioSuplemento.suppliesId" required>
                <option value="" disabled selected>Seleccione un suplemento</option>
                <option *ngFor="let suplemento of Suplemento" [value]="suplemento.id">{{ suplemento.name }}</option>
              </select>
            </div>
  
            <button type="submit" class="btn btn-primary" [disabled]="!suplementoForm.valid">Guardar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  