<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
    
      <h3 class="fw-normal mb-0">Vistas del role <span class="rounded-5 text-white px-3" style="width: 180px; background-color: var(--color-green-950);"> {{ currentRole.name }}</span></h3>
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btn-forms" class="btn h-50"><i class="bi bi-plus-circle mx-2"></i>
        Agregar Vista</button>
      </section>
      <!-- Tabla con MatTable -->
      <mat-form-field appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
      </mat-form-field>
  </div>
     

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Ruta Column -->
    <ng-container matColumnDef="route">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ruta </th>
      <td mat-cell *matCellDef="let element"> {{element.route}} </td>
    </ng-container>

    <!-- Módulo Column -->
    <ng-container matColumnDef="moduloId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Módulo ID </th>
      <td mat-cell *matCellDef="let element"> {{element.moduloId}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="warn" (click)="onDelete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>       
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

    
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fw-bold fs-4" id="text-green">Agregar vista</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="px-5" #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm)">
           
            <div class="my-3">
              <label for="Vista"  id="text-green"  class="fw-normal">Vistas</label>
              <select class="form-select form-select-lg mb-3" [(ngModel)]="newRoleModule.viewId" name="viewId" aria-label="Large select example">
                <option selected disabled>Selecciona una vista</option>
                <option *ngFor = "let view of views" [value]="view.id">
                  {{ view.name }}
                </option>
              </select>
            </div>
              
            <!-- <button class="btn btn-success mt-5" type="submit">{{ newRole.id ? 'Actualizar' : 'Guardar' }}</button> -->
            <div class="modal-footer">
              <button type="button" id="btn-forms" type="submit" class="btn btn-form">{{ newRoleModule.id ? 'Actualizar' : 'Guardar' }}</button>
            </div>
          </form>
     