<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">

      <h2 class="fw-normal mb-0 ">Tratamiento</h2>
      <!-- Botón para abrir el modal -->
      <button type="button" class="btn h-50" data-bs-toggle="modal" data-bs-target="#treatmentsModal"
        id="btn-forms">
        <i class="bi bi-plus-circle mx-2"></i>
        Registrar Tratamiento
      </button>

      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        Descargar PDF
      </button>
    </section>

    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar">
    </mat-form-field>

  </div>

  <div *ngIf="tratamiento.length === 0">No hay tratamientos activos.</div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let diagnostico"> {{ diagnostico.id }} </td>
      </ng-container>

      <!-- Diagnóstico Column -->
      <ng-container matColumnDef="diagnostico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Diagnostico </th>
        <td mat-cell *matCellDef="let diagnostico"> {{ diagnostico.animalDiagnostics }} </td>
      </ng-container>
      <!-- Diagnóstico Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let diagnostico"> {{ diagnostico.description }} </td>
      </ng-container>

      <!-- Animal Column -->
      <ng-container matColumnDef="finishiedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha final </th>
        <td mat-cell *matCellDef="let diagnostico"> {{ diagnostico.finishiedDate}} </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de inicio </th>
        <td mat-cell *matCellDef="let diagnostico"> {{ diagnostico.startDate}} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let diagnostico"> {{ diagnostico.state ? 'activo' : 'inactivo'}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex gap-2 justify-content-center" id="icons-section">
            <i class="bi bi-pencil-square" (click)="onEdit(element)"></i>
            <i class="bi bi-trash" (click)="onDelete(element)"></i>
          </div>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="treatmentsModal" tabindex="-1" aria-labelledby="treatmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="treatmentsModalLabel">Agregar Tratamiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">

            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newTratamiento.name"
                required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newTratamiento.description"
                required>
            </div>
            <div class="mb-3">
              <label for="startDate" class="form-label">Fecha inicio</label>
              <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="newTratamiento.startDate"
                required>
            </div>
            <div class="mb-3">
              <label for="finishiedDate" class="form-label">Fecha Fin</label>
              <input type="date" class="form-control" id="finishiedDate" name="finishiedDate" [(ngModel)]="newTratamiento.finishiedDate"
                required>
            </div>
            <div class="mb-3">
              <label for="animalDiagnosticsId" class="form-label">Diagnósticos</label>
              <select class="form-control" id="animalDiagnosticsId" name="animalDiagnosticsId" [(ngModel)]="newTratamiento.animalDiagnosticsId" required>
                <option value="" disabled selected>Selecciona un animal</option>
                <option *ngFor="let diagnostic of diagnostics" [value]="diagnostic.id">{{ diagnostic.name }}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>