<!----><div class="container">
  <section class="d-flex justify-content-between my-3">
    <h1 class="fw-normal">Usuario</h1>
  </section>

  <!-- Tabla de usuarios -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <!-- Nombre Completo de la Persona -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> Contrasena </th>
    <td mat-cell *matCellDef="let element"> {{element.password}} </td>
  </ng-container>


  <!-- Acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="onEdit(user)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(user.id)">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</mat-table>


