<div class="container mt-3">

  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Usuario</h2>
  </section>

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar roles">
  </mat-form-field>
  </div>

  <!-- Tabla de usuarios -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <!-- Nombre Completo de la Persona -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>


  <!-- Acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let user">
      
      <button mat-icon-button (click)="onEdit(user)">
        <mat-icon>edit</mat-icon>
      </button>
      
      <button mat-icon-button color="btn-success" (click)="onDelete(user.id)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button color="green" (click)="loadRoles({id: user.id, name: user.username})">
        <mat-icon>settings</mat-icon>
      </button>

    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</mat-table>


