<div class="container mt-3">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Países</h2>
      <!-- Botón para abrir el modal -->
      <button type="button" class="btn h-50" data-bs-toggle="modal" data-bs-target="#paisModal" id="btn-forms">
        <i class="bi bi-plus-circle mx-2"></i>
        Registrar País
      </button>
    </section>

    <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar">
    </mat-form-field>
  </div>
  <!-- Tabla de datos -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let country"> {{ country.id }} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let country"> {{ country.name }} </td>
    </ng-container>

    <!-- Código del País Column -->
    <ng-container matColumnDef="countryCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código País </th>
      <td mat-cell *matCellDef="let country"> {{ country.countryCode }} </td>
    </ng-container>

    <!-- Continente Column -->
    <ng-container matColumnDef="continentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Continente </th>
      <td mat-cell *matCellDef="let country"> {{ country.continentId }} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let country">
        <button mat-icon-button color="primary" (click)="onEdit(country)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(country.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'countryCode', 'continentId', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'countryCode', 'continentId', 'acciones'];"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Modal -->
<div class="modal fade" id="paisModal" tabindex="-1" aria-labelledby="paisModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paisModalLabel">{{ newCountry.id > 0 ? 'Editar País' : 'Nuevo País' }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #paisForm="ngForm" (ngSubmit)="onSubmit(paisForm)">
        <div class="modal-body">
          <!-- Campo para Nombre -->
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput name="name" [(ngModel)]="newCountry.name" required>
          </mat-form-field>

          <!-- Campo para Código del País -->
          <mat-form-field appearance="fill">
            <mat-label>Código País</mat-label>
            <input matInput name="countryCode" [(ngModel)]="newCountry.countryCode" required>
          </mat-form-field>

          <!-- Campo para Continente -->
          <mat-form-field appearance="fill">
            <mat-label>Continente</mat-label>
            <select matNativeControl name="continentId" [(ngModel)]="newCountry.continentId" required>
              <option *ngFor="let continent of continents" [value]="continent.id">{{ continent.name }}</option>
            </select>
          </mat-form-field>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">{{ newCountry.id > 0 ? 'Actualizar' : 'Crear' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>