<div class="container">
    <section class="d-flex justify-content-between my-3">
      <h1 class="fw-normal">Países</h1>
      <button type="button" data-bs-toggle="modal" data-bs-target="#countryModal" id="btn-forms" class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i> Agregar País
      </button>
    </section>
    <table datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger" class="table">
      <thead>
        <tr class="table-success">
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Continente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of countries; index as i">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.continentId }}</td>
          <td class="gap-3 d-flex">
            <i class="bi bi-pencil-square action-icon" data-bs-toggle="modal" data-bs-target="#countryModal" (click)="onEdit(item)"></i>
            <i class="bi bi-trash action-icon" (click)="onDelete(item.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fw-bold fs-4" id="text-green">Nuevo País</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="px-5" #countryForm="ngForm" (ngSubmit)="onSubmit(countryForm)">
            <div class="mb-3">
              <label for="name" id="text-green" class="fw-normal">Nombre</label>
              <input class="form-control" type="text" id="name" name="name" [(ngModel)]="newCountry.name" required>
            </div>
            
            <div class="mb-3">
              <label for="description" id="text-green" class="fw-normal">Descripción</label>
              <input class="form-control form-green" type="text" id="description" name="description" [(ngModel)]="newCountry.description" required>
            </div>
  
            <div class="mb-3">
              <label for="continentId" id="text-green" class="fw-normal">Continente</label>
              <select class="form-select form-select-lg mb-3" [(ngModel)]="newCountry.continentId" name="continentId" aria-label="Large select example">
                <option selected>Selecciona un continente</option>
                <option *ngFor="let continent of continents" [value]="continent.id">
                  {{ continent.name }}
                </option>
              </select>
            </div>
  
            <div class="modal-footer">
              <button type="submit" id="btn-forms" class="btn btn-form">{{ newCountry.id ? 'Actualizar' : 'Guardar' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  