<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center justify-content-start gap-3">
      <h2 class="fw-normal mb-0" style="font-size: 25px;">Diagnósticos Animales</h2>
      <button data-bs-toggle="modal" data-bs-target="#diagnosticsModal" id="btn-forms" class="btn d-flex">
        <i class="bi bi-plus-circle mx-2"></i>
        Nuevo Diagnóstico
      </button>

      <button id="btn-forms" class="btn d-flex" (click)="downloadPDF()">
        <i class="bi bi-file-earmark-pdf-fill"></i>
        PDF
      </button>

      <button id="btn-forms" class="btn d-flex" (click)="downloadExcel()">
        <i class="bi bi-file-spreadsheet"></i>
        Excel
      </button>
    </section>


    <!-- Filtro de búsqueda -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>
  </div>

  <!-- Tabla con MatTable -->
  <table mat-table [dataSource]="dataSource" class="table table-striped" matSort>

    <!-- Columna Diagnóstico -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="diagnosis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Diagnóstico </th>
      <td mat-cell *matCellDef="let element"> {{element.diagnosis}} </td>
    </ng-container>

    <!-- Columna Animal -->
    <ng-container matColumnDef="animal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Animal </th>
      <td mat-cell *matCellDef="let element"> {{element.animal}} </td>
    </ng-container>

    <!-- Columna Usuario -->
    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.users}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
      <td mat-cell *matCellDef="let element">
    {{element.diseaseStatus }}
      </td>
    </ng-container>


    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">
          <i class="bi bi-bag-check" *ngIf="element.diseaseStatus == 'ENPROCESO'" [routerLink]="['/dashboard/tratamientos']"></i>
          <i class="bi bi-house-heart" *ngIf="element.diseaseStatus == 'REGISTRADA'" data-bs-toggle="modal" data-bs-target="#treatmentsModal" (click)="treatmentModal(element)"></i>
          <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#diagnosticsModal"
            (click)="onEdit(element)"></i>
          <i class="bi bi-trash" (click)="onDelete(element.id)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Filas de Header y Data -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="isData">
    <div class="alert alert-warning" role="alert">
      Aún no hay animales con diagnostico agregados!
    </div>
  </div>
  
  <div *ngIf="isLoading" class="text-center text-success mt-2">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Modal para agregar o editar diagnósticos -->
<div class="modal fade" id="diagnosticsModal" tabindex="-1" aria-labelledby="diagnosticsModalLabel" #Modal
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diagnosticsModalLabel">Agregar Diagnóstico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #diagnosticsForm="ngForm" (ngSubmit)="onSubmitDiagnos(diagnosticsForm)">
          <input type="hidden" id="usersId" name="usersId" [(ngModel)]="newDiagnostic.usersId">

          <div class="mb-3">
            <label for="diagnosis" class="form-label">Nombre</label>
            <input class="form-control" id="name" name="name" [(ngModel)]="newDiagnostic.name" required minlength="4"
              #NombreDelAnimalDiagnostico="ngModel" [ngClass]="{
               'is-invalid': NombreDelAnimalDiagnostico.invalid && NombreDelAnimalDiagnostico.touched,
               'is-valid': NombreDelAnimalDiagnostico.valid && NombreDelAnimalDiagnostico.touched
             }" />
            <!-- Mensajes de error -->
            <div *ngIf="NombreDelAnimalDiagnostico.invalid && NombreDelAnimalDiagnostico.touched"
              class="invalid-feedback">
              <div *ngIf="NombreDelAnimalDiagnostico.errors?.['required']">El nombre del animal diagnostico es
                obligatoria.</div>
              <div *ngIf="NombreDelAnimalDiagnostico.errors?.['minlength']">El nombre del animal diagnostico debe tener
                al menos 4 caracteres.</div>
            </div>


          </div>

          <div class="mb-3">
            <label for="diagnosis" class="form-label">Diagnóstico</label>
            <textarea class="form-control" id="diagnosis" name="diagnosis" [(ngModel)]="newDiagnostic.diagnosis"
              required minlength="10" #animalDiagnostico="ngModel" [ngClass]="{
              'is-invalid': animalDiagnostico.invalid && animalDiagnostico.touched,
              'is-valid': animalDiagnostico.valid && animalDiagnostico.touched
            }"></textarea>

            <!-- Mensajes de error -->
            <div *ngIf="animalDiagnostico.invalid && animalDiagnostico.touched" class="invalid-feedback">
              <div *ngIf="animalDiagnostico.errors?.['required']">La descripción es obligatoria.</div>
              <div *ngIf="animalDiagnostico.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.
              </div>
            </div>


          </div>


          <div class="mb-3">
            <label for="animalId" class="form-label">Animal</label>
            <select class="form-control" id="animalId" name="animalId" [(ngModel)]="newDiagnostic.animalId"
              #semenId="ngModel" required (change)="checkValidSelection(semenId)" [ngClass]="{
                'is-invalid': semenId.invalid && semenId.touched,
                'is-valid': semenId.valid && semenId.touched
              }">
              <option value="" selected>Seleccione un animal</option>
              <ng-container *ngIf="animales.length > 0">
                <option *ngFor="let animal of animales" [value]="animal.id">{{ animal.name }}</option>

              </ng-container>
              <option *ngIf="animales.length === 0" disabled>No hay animales disponibles</option>

            </select>

            <!-- Mensajes de error -->
            <div *ngIf="semenId.invalid && semenId.touched" class="invalid-feedback">
              Seleccionar un animal es obligatorio.
            </div>

          </div>

            <button type="submit" class="btn btn-success w-100 mb-2" [disabled]="!diagnosticsForm.valid">Guardar</button>
            <div *ngIf="newDiagnostic.id" class="buttons-options gap-2 d-flex flex-column">
              <button (click)="deathTreatment(newDiagnostic.id)" type="button" class="btn btn-warning w-100"><i class="bi bi-heartbreak mx-2"></i> Bovino fallecido</button>
              <button (click)="healthTreatment(newDiagnostic.id)" type="button" class="btn btn-info w-100"><i class="bi bi-heart-pulse mx-2"></i>Bovino Curado</button>
            </div>
        
        </form>
      </div>
    </div>
  </div>
</div>


<!-- MODAL TRATAMIENTO -->
<div class="modal fade" #Modal id="treatmentsModal" tabindex="-1" aria-labelledby="treatmentsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="treatmentsModalLabel">Agregar Tratamiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #productForm="ngForm" class="p-3" (ngSubmit)="onSubmitTreatment(productForm)">
          <div class="mb-3">
            <label for="animalDiagnosticsId" class="form-label">Diagnóstico a tratar</label>
            <input disabled class="form-control" [value]="newTratamiento.animalDiagnosticsId" id="animalDiagnosticsId" name="animalDiagnosticsId"
              [(ngModel)]="newTratamiento.animalDiagnostics" required>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Tratamiento</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newTratamiento.name" required
              minlength="8" #tratamientofiel="ngModel" [ngClass]="{
              'is-invalid': tratamientofiel.invalid && tratamientofiel.touched,
              'is-valid': tratamientofiel.valid && tratamientofiel.touched
            }">

            <!-- Mensajes de error -->
            <div *ngIf="tratamientofiel.invalid && tratamientofiel.touched" class="invalid-feedback">
              <div *ngIf="tratamientofiel.errors?.['required']">El tratamiento es obligatoria.</div>
              <div *ngIf="tratamientofiel.errors?.['minlength']">El tratamiento debe tener al menos 8 caracteres.</div>
            </div>

          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea type="text" class="form-control" id="description" name="description"
              [(ngModel)]="newTratamiento.description" required minlength="10" #descriptionField="ngModel" [ngClass]="{
                'is-invalid': descriptionField.invalid && descriptionField.touched,
                'is-valid': descriptionField.valid && descriptionField.touched
              }">
            </textarea>
            <!-- Mensajes de error -->
            <div *ngIf="descriptionField.invalid && descriptionField.touched" class="invalid-feedback">
              <div *ngIf="descriptionField.errors?.['required']">La descripción es obligatoria.</div>
              <div *ngIf="descriptionField.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-around mb-3">


            <div class="mb-3">
              <label for="startDate" class="form-label">Fecha inicio</label>
              <input type="date" class="form-control" id="startDate" name="startDate"
                [(ngModel)]="newTratamiento.startDate" required [min]="minDate">
            </div>
            <div class="mb-3">
              <label for="finishiedDate" class="form-label">Fecha Fin</label>
              <input type="date" class="form-control" id="finishiedDate" name="finishiedDate"
                [(ngModel)]="newTratamiento.finishiedDate" required [min]="minDate">
            </div>
          </div>

          <div class="mb-3 d-flex gap-3">
            <label for="state" class="form-label">Estado del tratamiento </label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="state"
                [(ngModel)]="newTratamiento.state" [ngModelOptions]="{standalone: true}" checked>
            </div>
          </div>
          <button type="submit" class="btn btn-success w-100" [disabled]="!productForm.valid">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>