<div class="container mt-3">

  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Inseminaciones</h2>
      <button type="button" data-bs-toggle="modal" data-bs-target="#inseminacionModal" id="btn-forms" class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Inseminación
      </button>
    </section>

    <!-- Tabla con MatTable -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>

  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Observación Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Observación </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Padre Column -->
    <ng-container matColumnDef="semenId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Padre </th>
      <td mat-cell *matCellDef="let element"> {{element.semenId}} </td>
    </ng-container>

    <!-- Madre Column -->
    <ng-container matColumnDef="motherId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Madre </th>
      <td mat-cell *matCellDef="let element"> {{element.motherId}} </td>
    </ng-container>
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
      <td mat-cell *matCellDef="let element"> {{element.result}} </td>
    </ng-container>
    <ng-container matColumnDef="inseminationType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inseminación </th>
      <td mat-cell *matCellDef="let element"> {{element.inseminationType}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Modal -->
<div class="modal fade" id="inseminacionModal" tabindex="-1" aria-labelledby="inseminacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inseminacionModalLabel">
          {{ newInsemination.id ? 'Editar Inseminación' : 'Agregar Inseminación' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #inseminacionForm="ngForm" (ngSubmit)="onSubmit(inseminacionForm)">
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newInsemination.description" required />
          </div>

          <div class="mb-3">
            <label for="semenId" class="form-label">ID de Semen</label>
            <input type="number" class="form-control" id="semenId" name="semenId" [(ngModel)]="newInsemination.semenId" required />
          </div>

          <div class="mb-3">
            <label for="motherId" class="form-label">ID de Madre</label>
            <input type="number" class="form-control" id="motherId" name="motherId" [(ngModel)]="newInsemination.motherId" required />
          </div>

          <div class="mb-3">
            <label for="result" class="form-label">Resultado</label>
            <input type="text" class="form-control" id="result" name="result" [(ngModel)]="newInsemination.result" required />
          </div>

          <div class="mb-3">
            <label for="inseminationType" class="form-label">Tipo de Inseminación</label>
            <input type="text" class="form-control" id="inseminationType" name="inseminationType" [(ngModel)]="newInsemination.inseminationType" required />
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!inseminacionForm.valid">
            {{ newInsemination.id ? 'Actualizar' : 'Guardar' }}
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


