<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">

    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Producción</h2>
      <button type="button" data-bs-toggle="modal" data-bs-target="#productoModal" id="btn-forms" class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Producto
      </button>

      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        Descargar PDF
      </button>
    </section>

    <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>

  </div>

  <div *ngIf="productions.length === 0">No hay producción activas.</div>
  <!-- Tabla de productos -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Tipo de Producto Column -->
    <ng-container matColumnDef="TypeProduction">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.typeProduction}} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="Stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Medida Column -->
    <ng-container matColumnDef="Measurement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Medida </th>
      <td mat-cell *matCellDef="let element"> {{element.measurement}} </td>
    </ng-container>

    <!-- Cantidad Total Column -->
    <ng-container matColumnDef="QuantityTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Total </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityTotal}} </td>
    </ng-container>

    <!-- Fecha de Expiración Column -->
    <ng-container matColumnDef="expirateDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Expiración </th>
      <td mat-cell *matCellDef="let element"> {{element.expirateDate | date}} </td>
    </ng-container>

    <!-- ID Animal Column -->
    <ng-container matColumnDef="AnimalId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Animal </th>
      <td mat-cell *matCellDef="let element"> {{element.animal}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="accions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">
          <i class="bi bi-pencil-square" (click)="onEdit(element)"></i>
          <i class="bi bi-trash" (click)="onDelete(element)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


  <!-- Modal -->
  <div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productoModalLabel">Agregar Producción</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">

            <div class="mb-3">
              <label for="purpose" class="form-label">Tipo producción</label>
              <select class="form-control" id="typeProduction" name="typeProduction"
                [(ngModel)]="newProduction.typeProduction" required>
                <option value="" disabled selected>Selecciona un propósito</option>
                <option value="VENTA">Venta</option>
                <option value="LECHE">Leche</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="newProduction.stock"
                required>
            </div>

            <div class="mb-3">
              <label for="purpose" class="form-label">Medida</label>
              <select class="form-control" id="measurement" name="measurement" [(ngModel)]="newProduction.measurement"
                required>
                <option value="" disabled selected>Selecciona una medida</option>
                <option *ngFor="let measurement of measurements" [value]="measurement">{{ measurement }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <textarea class="form-control" id="description" name="description" [(ngModel)]="newProduction.description"
                required></textarea>
            </div>

            <div class="mb-3">
              <label for="quantityTotal" class="form-label">Cantidad Total</label>
              <input type="number" class="form-control" id="quantityTotal" name="quantityTotal"
                [(ngModel)]="newProduction.quantityTotal" required>
            </div>

            <div class="mb-3">
              <label for="expirateDate" class="form-label">Fecha de Expiración</label>
              <input type="date" class="form-control" id="expirateDate" name="expirateDate"
                [(ngModel)]="newProduction.expirateDate" required [min]="minExpirateDate" [max]="maxExpirateDate">
            </div>

            <div class="mb-3">
              <label for="animalId" class="form-label">Animales</label>
              <select class="form-control" id="animalId" name="animalId" [(ngModel)]="newProduction.animalId" required>
                <option value="" disabled selected>Selecciona un animal</option>
                <option *ngFor="let animal of animales" [value]="animal.id">{{ animal.name }}</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>