<div class="d-flex flex-column flex-shrink-0 p-4 bg-green" style="min-height: 100vh; width: 200px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <img src="assets/logo-vaca.png" class="logo mx-2" alt="Logo">
      <span class="fs- fw-bold medium-text">AGRONET</span>
    </a>
  
    <a routerLink="/profile/settings-profile" class="nav-link rounded nav-link-menu">
      <i class="bi bi-person-fill-gear" style="margin-right: 10px;"></i>Perfil ajustes
    </a>
    <a routerLink="/profile/settings-user" class="nav-link rounded nav-link-menu">
      <i class="bi bi-key-fill" style="margin-right: 10px;"></i>Seguridad
    </a>
    <a class="nav-link rounded nav-link-menu">
      <i class="bi bi-columns" style="margin-right: 10px;"></i>Notificaciones
    </a>
  

  
    <hr>

  </div>
  