<div class="container mt-3 border p-3 shadow-sm">
  <div class="d-flex justify-content-between">
    <section class="d-flex align-items-center gap-3">

      <h2 class="fw-normal mb-0 ">Categorías de alertas</h2>
      <button type="button" data-bs-toggle="modal" data-bs-target="#categoriaAlertaModal" id="btn-forms"
        class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Categoría
      </button>
    </section>

    <!-- Barra de búsqueda -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>

  </div>
  <!-- Tabla con MatTable -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">
          <i class="bi bi-pencil-square" data-bs-toggle="modal"
          data-bs-target="#categoriaAlertaModal" (click)="onEdit(element)"></i>
          <i class="bi bi-trash" (click)="onDelete(element.id)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- Modal -->
<div class="modal fade" id="categoriaAlertaModal" tabindex="-1" aria-labelledby="categoriaAlertaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoriaAlertaModalLabel">Agregar/Editar Categoría de Alerta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="px-5" #categoriaAlertaForm="ngForm" (ngSubmit)="onSubmit(categoriaAlertaForm)">
          <div class="mb-3">
            <label for="Name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="newCategoryaAlerta.name"
              required>
          </div>
          <div class="mb-3">
            <label for="Description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="Description" name="Description"
              [(ngModel)]="newCategoryaAlerta.Description" required>
          </div>
          <div class="mb-3">
            <label for="Color" class="form-label">Color</label>
            <input type="text" class="form-control" id="Color" name="Color" [(ngModel)]="newCategoryaAlerta.Color"
              required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!categoriaAlertaForm.valid">{{ newCategoryaAlerta.id
            ? 'Actualizar' : 'Guardar' }}</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>