<div class="container mt-3 border p-3 shadow-sm">

  <div class="d-flex justify-content-between">
    <section class="d-flex align-items-center gap-3">
      <h2 class="fw-normal mb-0">Alertas</h2>
      <button type="button" data-bs-toggle="modal" (click)="resetForm()" data-bs-target="#alertModal" id="btn-forms"
        class="btn h-50">
        <i class="bi bi-plus-circle mx-2"></i>
        Agregar Alerta
      </button>


      <button id="btn-forms" class="btn" mat-button (click)="downloadPDF()">
        Descargar PDF
      </button>

    </section>
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar en la tabla">
    </mat-form-field>
  </div>

  <div *ngIf="alerta.length === 0">No hay alertas activas.</div>
  <!-- Tabla con MatTable -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>


    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>

    <!-- Leída Column -->
    <ng-container matColumnDef="isRead">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Leída </th>
      <td mat-cell *matCellDef="let element"> {{element.isRead ? 'Sí' : 'No'}} </td>
    </ng-container>

    <!-- ID Animal Column -->
    <ng-container matColumnDef="animal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Animal </th>
      <td mat-cell *matCellDef="let element"> {{element.animal}} </td>
    </ng-container>

    <!-- ID Categoría Alerta Column -->
    <ng-container matColumnDef="categoryAlert">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoría Alerta </th>
      <td mat-cell *matCellDef="let element"> {{element.categoryAlert}} </td>
    </ng-container>

    <!-- ID Usuario Column -->
    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.users}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex gap-2 justify-content-center" id="icons-section">

          <i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#alertModal"
            (click)="onEdit(element)"></i>
          <i class="bi bi-trash" (click)="onDelete(element)"></i>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<!-- Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertModalLabel">
          {{ newAlerta.id ? 'Actualizar Alerta' : 'Agregar Alerta' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form #alertForm="ngForm" (ngSubmit)="onSubmit(alertForm)">
          <input type="hidden" id="usersId" name="usersId" [(ngModel)]="newAlerta.usersId">

          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newAlerta.name"
              required minlength="4" #NombreDeAlertas="ngModel" [ngClass]="{
                'is-invalid': NombreDeAlertas.invalid && NombreDeAlertas.touched,
                'is-valid': NombreDeAlertas.valid && NombreDeAlertas.touched
              }">
          </div>
                    <div class="mb-3">
            <label for="Date" class="form-label">Fecha <span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="date" name="date" [(ngModel)]="newAlerta.date" required [min]="minDate">
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" name="description"
              [(ngModel)]="newAlerta.description" required minlength="10" #descriptionField="ngModel" [ngClass]="{
                'is-invalid': descriptionField.invalid && descriptionField.touched,
                'is-valid': descriptionField.valid && descriptionField.touched
              }">
            <div *ngIf="descriptionField.invalid && descriptionField.touched" class="invalid-feedback">
              <div *ngIf="NombreDeAlertas.errors?.['required']">El nombre de la alerta es obligatorio.</div>
              <div *ngIf="NombreDeAlertas.errors?.['minlength']">Debe tener al menos 4 caracteres.</div>              
            </div>
          </div>

          <div class="mb-3">
            <label for="animalId" class="form-label">Animal</label>
            <select class="form-control" id="animalId" name="animalId" [(ngModel)]="newAlerta.animalId">
              <option value="">Seleccione un animal</option>
              <ng-container *ngFor="let animal of animals">
                <option [value]="animal.id">{{ animal.name }}</option>
              </ng-container>
            </select>
          </div>

          <div class="mb-3">
            <label for="categoryAlertId" class="form-label">Categoría Alerta</label>
            <select class="form-control" id="categoryAlertId" name="categoryAlertId"
              [(ngModel)]="newAlerta.categoryAlertId" required>
              <option value="">Seleccione una categoría</option>
              <ng-container *ngFor="let categoria of CategoriaAlerta">
                <option [value]="categoria.id">{{ categoria.name }}</option>
              </ng-container>
            </select>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!alertForm.valid">
            {{ newAlerta.id ? 'Actualizar' : 'Guardar' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>